# Importing Data & Packages

In [6]:
#pip install pandas

In [7]:
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import random

print('Everything Imported Succesfully!')

Everything Imported Succesfully!

In [8]:
data=pd.read_csv('Data_%5IAL_3_%301%.csv',index_col=0,parse_dates=[1])
data.rename(columns={'0':'Date'},inplace=True)
data['5IAL_3_301.BatchName']=data['5IAL_3_301.BatchName'].fillna('No Batch Specified')
data.head()

/tmp/ipykernel_3702/186531266.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('Data_%5IAL_3_%301%.csv',index_col=0,parse_dates=[1])

,Date,5IAL_3_TT301.50,5IAL_3_QIT301.52,5IAL_3_PIT 301.55,5IAL_3_QIT301.57,5IAL_3_PIT301.60,5IAL_3_FIT301.61MF,5IAL_3_FIT301.61VF,5IAL_3_FIT301.61D,5IAL_3_PIT301.63,...,5IAL_3_GSC301.44,5IAL_3_GSO301.44,5IAL_3_LSL301.64,5IAL_3_LSL301.68,5IAL_3_LSLL301.69,5IAL_3_301.OCCUPIED,5IAL_3_LIT301.54,5IAL_3_LSH301.56,5IAL_3_XPV301.13,5IAL_3_WY301.54
0,2022-04-10 12:00:00,21.80,9.84,-0.02,0.0,0.0,0.0,0.0,0.00105,2.07,...,0,0,0,0,0,0,1.40,0,0.0,0.0
1,2022-04-10 12:01:00,21.80,9.84,-0.02,0.0,0.0,0.0,0.0,0.00106,2.07,...,0,0,0,0,0,0,1.40,0,0.0,0.0
2,2022-04-10 12:02:00,21.80,9.84,-0.02,0.0,0.0,0.0,0.0,0.00102,2.07,...,0,0,0,0,0,0,1.41,0,0.0,0.0
3,2022-04-10 12:03:00,21.78,9.84,-0.02,0.0,0.0,0.0,0.0,0.00105,2.07,...,0,0,0,0,0,0,1.40,0,0.0,0.0
4,2022-04-10 12:04:00,21.78,9.84,-0.02,0.0,0.0,0.0,0.0,0.00104,2.07,...,0,0,0,0,0,0,1.40,0,0.0,0.0

# Data Splitting and Grouping

In [9]:
Batch_Names=data['5IAL_3_301.BatchName']
unique_names=Batch_Names.unique()
print(unique_names)

['No Batch Specified' 'YP5812210101' 'YP5812210102' ... 'KB212306501'
 'NA KB212306501' 'KC112306501']

In [11]:
print(unique_names.size)

1629

In [12]:
#Convert the unique_names numpy array to a pandas series
temp_df=pd.Series(unique_names)

# Create a boolean mask to select rows where the length of the specified column is between 11 and 12 characters (inclusive)
mask = (temp_df.str.len() >= 11) & (temp_df.str.len() <= 12)

# Use the boolean mask to select only the rows that meet the criteria
Viable_Batches = unique_names[mask]

print(Viable_Batches.size)

del temp_df

1205

## Train Test Split

Randomly pick the Test_Train_split fraction of data from the filterd unique name list.\
This way a percentage of batches are not used in training and thus can be used for testing.

In [13]:
To_split=Viable_Batches
Test_Train_split=0.2

Test_Batches=random.sample(To_split.tolist(), round(To_split.size*Test_Train_split))

Train_Batches = [x for x in To_split if x not in Test_Batches]

print(len(Test_Batches))
print(len(Train_Batches))

241
964

In [14]:
Train_Data=data[data['5IAL_3_301.BatchName'].isin(Train_Batches)]
Test_Data=data[data['5IAL_3_301.BatchName'].isin(Test_Batches)]

# Train_Grouped=Train_Data.groupby(["5IAL_3_301.BatchName"],as_index=True)
# Test_Grouped=Test_Data.groupby(["5IAL_3_301.BatchName"],as_index=True)

# Train_Grouped.size()
# Test_Grouped.size()

## Normalise the selection with use of the Z-Score
The Z-score can be described as:\
$Z=\frac{x-\mu}{\sigma}$

In this x is your value, μ is the average of the population that value is taken from, and σ is the standard deviation of the population. It is basicaly a measure of how far a given value is away from its mean in standard deviations. To give you a good feeling, in a normal distribution 66% of values are within 1 std of the mean. 99% are withing 2 std and 99.9 is within 3

Note that i am not yet sure how representative all of this is for the data, it just allows me to use Massflow and resulting pressure more easaly because the range of values are simalar and i dont have to specify two seperate axis with values within 1 figure.

In [15]:
data_norm=pd.DataFrame()
data_norm_values=pd.DataFrame()

df=Train_Grouped

data_norm=(Train_Data-Train_Data.mean())/Train_Data.std()

for col in Train_Grouped:
    # zval=(Train_Grouped[col]-np.mean(Train_Grouped[col]))/np.std(Train_Grouped[col])
    # data_norm=pd.concat([data_norm,zval],axis=1)
    data_norm_values[col]=[np.mean(Train_Grouped[col]),np.std(Train_Grouped[col])]

NameError: name 'Train_Grouped' is not defined